/bin/
/obj/
*.dll
*.exe
*.pdb
*.dll.config


*.user
*.suo
*.userprefs
*.vscode/
*.vs/


/packages/
*.nupkg
*.paket.references
paket.lock

/log/
*.log
*.tmp

.env
*.suo
*.user
*.sln.docstates
*.userprefs

*.cache
*.DS_Store
